/* ==-- Slide Menu Styles --== */

/* Menu */
.wrapper {
  margin: 0 auto;
  max-width: 968px;
}

raven-slide-menu {
  float: left;
  margin-right: 1rem;
}

.menu {
  box-sizing: border-box;
  padding: 2rem;
  min-width: 16rem;
  height: calc(100vh - 2rem);
  background-color: #f0f0f0;
}

.menu header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.menu h2 {
  margin: 0 .5rem 0 0;
}

.close-button {
  padding: 0;
  border: 0;
  line-height: 0;
  background: none;
  cursor: pointer;
}

.close-button svg {
  height: 2rem;
}

:host-context(.rsm-active) .menu-top,
:host-context(.rsm-active) .menu-bottom {
  width: 100vw;
  height: auto;
}

:host-context(.rsm-active) .menu-left,
:host-context(.rsm-active) .menu-right {
  height: 100vh;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 1199.999px) {
  [data-large-viewport] {
    display: none;
  }
}

@media (min-width: 1200px) {
  [data-small-viewport] {
    display: none;
  }

  .close-button {
    display: none;
  }
}

/* Forms */
.form-field {
  margin-bottom: 1rem;
}

.form-field label {
  display: block;
  margin-right: 1rem;
}

.form-field input,
.form-field select {
  box-sizing: border-box;
  padding: .5rem;
  min-width: 5rem;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  font-size: .8rem;
  background-color: #fff;
}

@media (min-width: 35rem) {
  .form-field label {
    display: inline-block;
    min-width: 12rem;
  }
}
